.add-product,
.edit-product,
.add-news,
.edit-news,
.add-campaign,
.edit-campaign,
.add-user,
.edit-user,
.add-faq,
.edit-faq,
.add-administrator,
.edit-administrator{
    padding: 20px 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    .page-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            color: $black;
        }
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 10px 15px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            background-color: $black;
            color: $white;
            text-decoration: none;
            font-weight: 500;
            @include transition();
            svg{
                font-size: 20px;
            }
            &:hover{
                background-color: $box-hover-dark;
            }
          }
    }    
}
@media (max-width: 768px) {
    .add-product,
    .edit-product,
    .add-news,
    .edit-news,
    .add-campaign,
    .edit-campaign,
    .add-user,
    .edit-user,
    .add-faq,
    .edit-faq,
    .add-administrator,
    .edit-administrator{
        padding: 10px 10px !important;
    }    
}