.admin-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px 40px;
    gap: 30px;
    width: 330px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.059);
    z-index: 999;
    height: 110vh;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    background-color: $box-light;
    .mobile-arrow{
        display: none;
    }
    &.grid{
        width: 130px !important;
        .admin-logo h5{
            opacity: 0;
        }
        .sidebar-list{
            a{ 
                span{
                    opacity: 0;
                }
                .arrow{
                    opacity: 0;
                }
            }
        }
    }
    .admin-logo{
        text-decoration: none;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 10px;
        img{
            width: 50px;
            min-width: 50px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
}
        h5{
            line-height: 20px;
            max-width: 100px;
            color: $black;
}
    }
    .sidebar-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        button, .icon{
            cursor: pointer;
            color: $black;
            border: none;
            padding: 12px;
            background-color: $box-hover-light;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 28px;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
            @include transition();
            &:hover{
                background-color: $box-hover-light;
            }
        }
        a{
            color: $black;
            text-decoration: none;
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 10px;
            @include transition();
            &.active{
                .icon{
                    background-color: $red-hover;
                    color: #fff;
                }
                .arrow{
                    display: flex;
                }                
            }
            &:hover{
                .icon{
                    background-color: $red-hover;
                    color: #fff;
                }
                .arrow{
                    display: flex;
                }
            }
            span{
                font-size: 15px;
                font-weight: 500;
            }
            .arrow{
                display: none;
                justify-content: center;
                align-items: center;
                @include transition();
            }
        }
    }
}
@media (max-width: 768px){
    .admin-sidebar{
        position: fixed;
        z-index: 1000;
        width: 220px;
        padding: 20px 30px;
        left: -60%;
        &.visible{
            left: 0;
            .mobile-arrow{
                color: $red;
                top: 4px;
                right: 4px;
                padding: 4px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
}
        }
        .mobile-arrow{
            cursor: pointer;
            position: absolute;
            z-index: 999;
            background-color: transparent;
            top: 8px;
            right: -100px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            border-radius:0px 10px 10px 0px;
            border: none;
            padding: 10px ;
            -webkit-border-radius:0px 10px 10px 0px;
            -moz-border-radius:0px 10px 10px 0px;
            -ms-border-radius:0px 10px 10px 0px;
            -o-border-radius:0px 10px 10px 0px;
}
        &.grid{
            width: 200px !important;
            .admin-logo h5{
                opacity: 1;
            }
            .sidebar-list{
                a{ 
                    span{
                        opacity:1;
                    }
                    .arrow{
                        opacity: 1;
                    }
                }
            }
        }
        .admin-logo{
            img{
                width: 40px;
                min-width: 40px;
    }
        }
        .sidebar-list{
            gap: 20px;
            button{
                display: none;
            }
            .icon{
                padding: 8px;
                font-size: 16px;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
                @include transition();
                &:hover{
                    background-color: $box-hover-light;
                }
            }
            a{
                span{
                font-size: 13px;
                }
            }
        }
    }
}