.delivery-billing-container {
  padding: 10px 9.5%;
  background-color: $main-light;

  h2 {
    margin: 1.5rem 0;
    color: $black;
  }

  .section {
    margin-bottom: 2rem;

    h3 {
      margin-bottom: 1rem;
      color: $black-2nd;
    }

    .option {
      margin-bottom: 0.75rem;
      color: $black;
      padding: 10px;
      max-width: 500px;
      border-radius: 15px;
      background-color: $box-light;

      input[type="radio"] {
        margin-right: 0.5rem;
      }

      label {
        cursor: pointer;
      }
    }

    p {
      margin: 0.5rem 0;
      font-size: 1rem;
      color: $black;
    }
  }

  .bannered {
    display: inline;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    background-color: $box-light;
  }

  .etiquet {
    padding: 5px;
    border-radius: 8px;
    background-color: $box-light;
  }
}

// Responsiv dizayn
@media (max-width: 1024px) {
  .delivery-billing-container {
    padding: 10px 7%;
  }
}

@media (max-width: 768px) {
  .delivery-billing-container {
    padding: 10px 5%;
  }

  .section {
    .option {
      max-width: 100%;
    }

    p {
      font-size: 0.95rem;
    }
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .delivery-billing-container {
    padding: 10px 3%;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1rem;
  }

  .section {
    .option {
      font-size: 0.9rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .bannered {
    background-color: transparent !important;
    font-size: 0.9rem;
    padding: 0px !important;
  }
}
