.product-details-container{
    padding: 20px 9.5%;
    position: relative;
    background-color: $main-light;
    &.outofstock{
        .main-image{
            .stock-overlay{
                border: 1px solid $red;
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 5px;
                left: 5px;
                margin: 0 auto;
                width: 98%;
                height: 98%;
                border-radius: 25px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                -ms-border-radius: 25px;
                -o-border-radius: 25px;
                background-color:#e238a175;
                svg{
                    font-size: 4rem;
                    color: $red;
                }
                h5{
                    color: $red;
                }
            }
        }
    }
    .product-details {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px 0;
        padding-bottom: 120px;
        border-bottom: 1px solid #dddddd6c;
        .mobile-back{
            display: none;
        }
    
        .product-images {
            position: relative;
            flex: 1;
            .free-shipping{
                font-size: 14px;
                background-color: $box-light;
                padding: 5px 10px;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;      
            }  
            .slick-slider {
                background-color: #fff;
                border: 1px solid #ddddddaa;
                position: relative;
                width: 100%;
                max-width: 550px;
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;

                .custom-arrow {
                    position: absolute;
                    top: 112%;
                    transform: translateY(-50%);
                    width: 35px;
                    height: 35px;
                    background-color: $box-light;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    z-index: 10;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -o-border-radius: 8px;
                    @include transition();
                    &:hover{
                        background-color: $box-hover-light;
                        svg{
                            background-color: $box-hover-light;
                        }
                    }
                    svg{
                        @include transition();
                        font-size: 18px;
                        color: $black;
                        z-index: 11;
                        background-color: $box-light;
                    }
                  }  
                  .next {
                    right: 50px;
                    svg{
                        margin-left: -19px;
                        margin-top: -2px;
                    }
                  }
                  
                  .prev {
                    left: 50px;
                    svg{
                        margin-left: -19px;
                        margin-top: -2px;
                    }
                  }
}
            
            .slick-slide {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .main-image {
                overflow: hidden;
                position: relative;
                padding: 15px;
                img{
                    width:530px;
                    max-width: 100%;
                    height: 500px;
                    border-radius: 10px;
                    object-fit: contain;
                }
                
            }
            
            .slick-thumb {
                display: flex !important;
                justify-content: center;
                align-items: center;
                gap: 60px;
                padding: 20px 0;
                margin-bottom: -30px;
                margin-left: -30px;
                
                .slick-thumbnail-container {
                    background-color: #fff;
                  width: 80px;
                  height: 80px;
                  padding: 10px;
                  border-radius: 12px;
                  overflow: hidden;
                  border: 1px solid $soft-white;
                  transition: border-color 0.3s ease;
                  -webkit-border-radius: 12px;
                  -moz-border-radius: 12px;
                  -ms-border-radius: 12px;
                  -o-border-radius: 12px;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }}
              
                .slick-active .slick-thumbnail-container {
                  border-color: $red;
                }
              }
              
            
            .discount{
                top: 25px;
                left: 25px;
                position: absolute;
                padding: 4px 8px;
                color: $white;
                font-weight: bold;
                font-size: 14px;
                background-color: $red;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
        }
    
        .product-info {
            flex: 1;
            
            padding: 5px;
            &::-webkit-scrollbar {
              display: none; 
            }
            .details{
                display: flex;
                align-items: flex-start;
                gap: 10px;
                svg{
                    margin: 0 3px;
                    font-size: 16px;
                }
                p{
                    font-size: 16px;
                    color: $black;
                }
                .rate{
                    svg{
                        color: $red;
                    }
                }
                .review-count{
                    svg{
                        color: $red;
                        opacity: 0.6;
                    }
                    span{
                        margin-left: 4px;
                    }
                }
            }
            h1 {
                font-size: 24px;
                margin-bottom: 5px;
                margin-top: 5px;
                color: $black;
            }
            .description{
                color: $black;
            }
            .code-div{
                position: relative;
                display: inline-block;
                .product-code {
                color: $black;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 5px;
                svg{
                    color: $red;
                    margin-bottom: -2px;
                }
            }
            .copy-span{
            position: absolute;
    top: 100%;
    left: 0;
    margin-top: 4px;
    font-size: 13px;
    background: $box-light;
    padding: 4px 8px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: $black;
    z-index: 10;
    animation: fadeInOut 2s forwards;
}
            @keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}
            }
            
            .price{
                display: flex;
                justify-content: left;
                align-items: center;
                padding-right: 25px;
                gap: 10px;
                .old-price{
                    font-size: 20px;
                    color: $red;
                    text-decoration: line-through;
                }
                .current-price{
                    font-size: 30px;
                    font-weight: bold;
                    color: $black;
                }
            }
            .variants-selection{
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 5px;
                margin: 10px 0;
                button{
                    font-weight: 600;
                    color: $black;
                    padding: 10px;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                    background-color: $box-light;
                    border: 2px solid transparent ;
                    @include transition;
                    &.active{
                        border: 2px solid $black;
                    }
}
            }
            .btns-div{
                display: flex;
                justify-content: left;
                align-items: center;
                gap: 20px;
                margin: 20px 0px;
                a{
                 text-decoration: none;
                 color: $black;
                 @include transition();
                 cursor: pointer;
                 position: relative;
                 font-size: 15px;
                 font-weight: bold;
                 display: flex;
                 justify-content: space-evenly;
                 align-items: center;
                 padding: 18px 4px;
                 background-color: $box-light;
                 border: none;
                 border-radius: 25px;
                 -webkit-border-radius: 25px;
                 -moz-border-radius: 25px;
                 -ms-border-radius: 25px;
                 -o-border-radius: 25px;
                 &:hover{
                        background-color: $box-hover-light;
                        color: $black;
                    }
                    svg{
                        font-size: 20px;
                    }
                }
                .add-to-cart-btn{
                    position: relative;
                    background-color: $red;
                    color: $white;
                    width: 250px;
                    &:hover{
                        background-color: $red-hover;
                        color: $white;
                    }
                    svg{
                        position: absolute;
                        left: 30px;
                        @include transition();
                    }
                    span{
                        margin-right: -30px;
                        @include transition();
                    }
                    &:hover{
                        svg{
                            left: 200px;
                        }
                        span{
                            margin-right: 0;
                            margin-left: -30px;
                        }
                    }

                }
                .heart-btn{
                    width: 60px;
                    svg{
                        @include transition();
                    }
                    &.clicked{
                        background-color: $red;
                        color: $white;
                        &:hover{
                            svg{
                                color: $white;
                            }
                        }
                    }
                    &:hover{
                        svg{
                            color: $red;
                            transform: scale(1.2);
                            -webkit-transform: scale(1.2);
                            -moz-transform: scale(1.2);
                            -ms-transform: scale(1.2);
                            -o-transform: scale(1.2);
}
                    }
                }
                
            }
            .actions {
                width: 100%;
                display: flex;
                gap: 10px;
                margin-top: 10px;
                button {
                    text-align: left;
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    gap: 20px;
                    padding: 15px 20px;
                    border: none;
                    cursor: pointer;
                    flex: 1;
                    background: $box-light;
                    color: $black;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                    @include transition();
                    &:hover{
                        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.188);
                    }
                    .icon{
                        @include transition();
                        background-color: $box-hover-light;
                        padding: 15px;
                        border-radius: 10px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        -ms-border-radius: 10px;
                        -o-border-radius: 10px;
                        svg{
                            font-size: 22px;
                            margin-bottom: -3px;
                        }
                    }
                    .text{
                        text-align: left;
                    }
                    &.clicked{
                        .icon{
                            background-color: $red;
                            svg{
                                color: $white;
                            }
                        }
                    }
}
            }
            .buy-together{
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                p{
                    color: $black;
                }
                .item{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    background-color: $box-light;
                    padding: 15px;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                    .con{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                    }
                    .img-div{
                        background-color: $white;
                        width: 75px;
                        height: 75px;
                        overflow: hidden;
                        border: 1px solid #cccccc94;
                        border-radius: 20px;
                        -webkit-border-radius: 20px;
                        -moz-border-radius: 20px;
                        -ms-border-radius: 20px;
                        -o-border-radius: 20px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .item-info{
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        .price-info{
                            display: flex;
                            justify-content: left;
                            align-items: center;
                            h3{
                                color: $black;
                                span{
                                    font-size: 14px;
                                    color: $black-2nd;
                                }
                                &:nth-child(2){
                                    padding-left: 20px;
                                }
                            }
                        }
                    }
                    .add{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px 15px;
                        background-color: $box-hover-light;
                        border-radius: 20px;
                        -webkit-border-radius: 20px;
                        -moz-border-radius: 20px;
                        -ms-border-radius: 20px;
                        -o-border-radius: 20px;
                        text-decoration: none;
                        font-weight: 500;
                        min-width: 120px;
                        font-size: 14px;
                        color: $black;
                        @include transition();
                        svg{
                            margin-bottom: -2px;
                        }
                        &:hover{
                            background-color: $red;
                            color: #fff;
                        }
                        .tick{
                            display: none;
                        }
                        &.clicked{
                            background-color: $red;
                            color: $white;
                        }
}
}
            }
            .features-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 15px;
                border-radius: 15px;
                .container-info{
                    color: $black;
                }
              
                .features-box {
                    padding: 18px;
                    border-radius: 20px;
                    background-color: $box-light;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                    .box-items{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;
                  
                        .icon{
                          background: $box-hover-light;
                          color: $black;
                          padding: 18px;
                          border-radius: 15px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          -webkit-border-radius: 15px;
                          -moz-border-radius: 15px;
                          -ms-border-radius: 15px;
                          -o-border-radius: 15px;
                          svg{
                            font-size: 24px;
                          }
                        }
                    
                        .content {
                          flex-grow: 1;
                          margin-left: 10px;
                    
                          h3 {
                            font-size: 16px;
                            font-weight: bold;
                            color: $black;
                          }
                    
                          p {
                            font-weight: 500;
                            color: $black-2nd;
                          }
                        }
                    
                        .toggle-btn {
                          background: $box-hover-light;
                          padding: 8px;
                          border-radius: 10px;
                          border: none;
                          cursor: pointer;
                          transition: 0.3s;
                    
                          svg {
                            color: $black;
                            font-size: 20px;
                            margin-bottom: -2px;
                          }
                    
                          &:hover {
                            background: $red;
                            svg{
                                color: $white;
                            }
                          }
                        }
                }
                }
              
                .features-list {
                  margin-top: 10px;
                  padding: 20px 15px 30px 15px;
                  list-style: none;
              
                  li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 0;
                    font-size: 14px;
                    color: $black;
                    border-bottom: 1px solid $soft-white;
                    &:last-child{
                        border: none;
                    }
                    span{
                        font-weight: 500;
                    }
                  }
                  
                }
              }
              
            
        }
    }
    .also-like-con{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .area-head{
            display: flex;
            flex-direction: column;
            align-items: start;
            p{
                color: $red;
            }
        }
        .custom-arrow {
            position: absolute;
            top: -35px;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background-color: $box-light;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 10;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            @include transition();
            &:hover{
                background-color: $box-hover-light;
                svg{
                    background-color: $box-hover-light;
                }
            }
            svg{
                font-size: 20px;
                color: $red;
                z-index: 11;
                background-color: $box-light;
                @include transition();
            }
          }  
          .next {
            right: 1%;
            svg{
                margin-left: -19px;
                margin-top: -1px;
            }
          }
          
          .prev {
            left: 91%;
            svg{
                margin-left: -19px;
                margin-top: -1px;
            }
          }
    }
}
@media (max-width: 768px){
    .product-details-container{
        &.outofstock{
            .main-image{
                .stock-overlay{
                    width: 97%;
                }
            }
        }
        .overlay{
            &.clicked{
                display: block;
            }
        }
        .product-card{
            width: calc(100% - 5px);
        }
        padding: 5px 15px !important;
        .product-details{
            padding: 5px 0 !important;
            .mobile-back{
                color: $black;
                font-weight: bold;
                text-align: left;
                display: flex;
                align-items: center;
                gap: 10px;
                button{
                    border: none;
                    color: $black;
                    background-color: $box-light;
                    padding: 12px;
                    border-radius: 20px;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                    svg{
                        font-size: 16px;
                        margin-bottom: -4px;
                    }
                }

            }
            .product-images{
                .main-image{
                    img{
                        height: 300px;
                    }
                }
                .slick-slider {
                    width: 100%;
                    max-width: 340px;
                    margin: 20px auto;
                    .custom-arrow {
                        top: 115%;
                        width: 30px;
                        height: 30px;
                      }  
                      .next {
                        right: 0px;
                      }
                      
                      .prev {
                        left: 0px;
                      }
                }    
                
                .slick-thumb {
                    gap: 40px;
                    padding: 15px 0;
                    margin-bottom: -30px;
                    margin-left: -20px;
                    
                    .slick-thumbnail-container {
                      width: 60px;
                      height: 60px;
                      padding: 6px;
                    }
                  } 
                .discount{
                    top: 30px !important;
                    left: 20px !important;
                    font-size: 12px;
                    border-radius: 8px;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    -ms-border-radius: 8px;
                    -o-border-radius: 8px;
                }
                .mobile-actions{
                    display: flex;
                }

        }    
                
            .product-info{
                overflow: hidden;
                max-height: 100%;
                margin-top: 100px;
                h1 {
                    font-size: 18px;
                }
                .price{
                    padding-right: 25px;
                    .old-price{
                        font-size: 15px;
                        color: $red;
                        text-decoration: line-through;
                    }
                    .current-price{
                        font-size: 25px;
                        font-weight: bold;
                    }
                }
                .btns-div{
                    a{
                        padding: 18px 2px;
                        font-size: 13px;
                    }
                    .add-to-cart-btn{
                        &:hover{
                            svg{
                                left: 30px;
                            }
                            span{
                                margin-right: -30px;
                                margin-left: 0px;
                            }
                        }
                    }
                    .heart-btn{
                        &:hover{
                            svg{
                                color: $black;
                                transform: scale(0);
                                -webkit-transform: scale(0);
                                -moz-transform: scale(0);
                                -ms-transform: scale(0);
                                -o-transform: scale(0);
}     
                        }
                    }
                    
                }
                .actions {
                    width: 100%;
                    flex-direction: column;
                }
                .buy-together{
                    .item{
                        .con{
                            gap: 5px;
                        }
                        .img-div{
                            padding: 5px;
                            width: 60px;
                            height: 60px;
                            border-radius: 10px;
                            -webkit-border-radius: 10px;
                            -moz-border-radius: 10px;
                            -ms-border-radius: 10px;
                            -o-border-radius: 10px;
                            margin-right: 10px;
                        }
                        .item-info{
                            gap: 0px;
                            .price-info{
                                h3{
                                    &:nth-child(1){
                                        padding-right: 10px;
                                    }
                                    &:nth-child(2){
                                        padding-left: 5px;
                                    }
                                }
                            }
                        }
                        .add{
                            border-radius: 20px !important;
                            min-width: auto;
                            padding: 6px 8px;
                            -webkit-border-radius: 20px !important;
                            -moz-border-radius: 20px !important;
                            -ms-border-radius: 20px !important;
                            -o-border-radius: 20px !important;
                            svg{
                                margin-bottom: -4px;
                                font-size: 20px;
                            }
                            .tick{
                                display: inline-block;
                            }
                            span{
                                display: none;
                            }
        }
    }
                }
                
            }

        }
        .also-like-con{
            .custom-arrow {
                width: 30px;
                height: 30px;
                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;
                svg{
                    font-size: 19px;
                }
              }  
              .next {
                right: 1%;
                svg{
                    margin-left: -19px;
                    margin-top: -2px;
                }
              }
              
              .prev {
                left: 80%;
                svg{
                    margin-left: -19px;
                    margin-top: -2px;
                }
              }
        }     
    }     
} 
@media (max-width: 650px){
    .product-details{
        flex-direction: column !important;
    }
}   