$main-light: #FFE6F2;
$box-light: #FDCFEA;
$box-hover-light: #ffa0d9;

$red: #E238A0;
$red-hover: #C51E85;

$black: #820b4a;
$soft-black: #C25C9D;
$black-2nd: #c2277e;

$border-light: #F5A9D4;

$main-dark: #2A0F1F;
$box-dark:  #54153e;
$box-hover-dark: #6b234e;

$white: #F2C8DA;
$soft-white: #E8B3CC;
$white-2nd: #B87C9D;
$border-dark: #7A3E5D;
